@charset "UTF-8";
/* Slider */
.slick-loading .slick-list {
  background: #fff url("/ajax-loader.0841b913.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("/slick.da8efe09.eot");
  src: url("/slick.da8efe09.eot?#iefix") format("embedded-opentype"), url("/slick.60f7b7e2.woff") format("woff"), url("/slick.c5074a08.ttf") format("truetype"), url("/slick.9a3ed3e9.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dots {
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 16px;
  font-family: "slick";
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  content: "";
  background-image: url(/home.e6ec330e.svg);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center;
  opacity: 1;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
  /*
      .slick-initialized & {
          display: block;
      }
  */
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 0 !important;
  width: 0 !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: DM Sans, sans-serif;
  color: #000000;
  font-size: 12px;
  line-height: 1.75;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}

.title {
  font-family: Titan One;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.page-title {
  width: 220px;
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .page-title {
    width: 162px;
    font-size: 22px;
    line-height: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .page-title {
    width: 280px;
    font-size: 38px;
    line-height: 44px;
  }
}
.page-title-label {
  color: #d41443;
  font-size: 48px;
  line-height: 0.955;
}
@media screen and (min-width: 768px) {
  .page-title-label {
    font-size: 34px;
    line-height: 31px;
  }
}
@media screen and (min-width: 1200px) {
  .page-title-label {
    font-size: 58px;
    line-height: 53px;
  }
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 15px;
  font-size: 34px;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 58px;
  }
}

.section-title-label {
  display: block;
  color: #ffa5ba;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.16;
}
@media screen and (min-width: 768px) {
  .section-title-label {
    font-size: 26px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .section-title-label {
    font-size: 30px;
    line-height: 1.13;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 34px 0 34px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1130px;
    padding: 0 40px;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 22px;
  padding: 11px 25px;
  font-weight: 700;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  line-height: 1.31;
  color: #d41443;
  text-align: center;
  background: #ffffff;
  transition: 250ms linear;
  cursor: pointer;
  outline: none;
}
.button:hover, .button:focus {
  background: #ecebeb;
}

.button-accent {
  background-color: #d41443;
  color: #fff;
}
.button-accent:hover, .button-accent:focus {
  background: #c7133e;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
header .container {
  position: relative;
  display: flex;
  align-items: center;
  height: 56px;
  padding-top: 6px;
}
@media screen and (min-width: 768px) {
  header .container {
    height: 87px;
    padding-top: 37px;
  }
}
@media screen and (min-width: 1200px) {
  header .container {
    height: 50px;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    margin-top: 37px;
  }
}

.header-m-btn {
  background: transparent;
  outline: none;
  border: none;
  margin-left: auto;
  cursor: pointer;
}
.header-m-btn .header-menu-icon {
  width: 25px;
  height: 25px;
}
@media screen and (min-width: 1200px) {
  .header-m-btn .header-menu-icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-m-btn {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .header-m-btn {
    display: none;
  }
}

.header-navigation {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e17992;
  min-height: 502px;
  width: 100%;
  padding: 23px 0px;
  transform: translateY(-100%);
  transition: all 250ms linear;
}
.header-navigation.is-open {
  transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .header-navigation {
    width: 260px;
    min-height: 400px;
    right: 0;
    left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header-navigation {
    position: relative;
    background-color: transparent;
    transform: translateY(0);
    width: auto;
    padding: 0;
    min-height: 100%;
  }
}

.header-nav-item {
  font-family: DM Sans;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  display: flex;
  color: #ffffff;
  flex-direction: column;
  align-items: start;
  margin-top: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header-nav-item {
    margin-top: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav-item {
    flex-direction: row;
    margin: 0;
    height: 50px;
    align-items: center;
  }
}
.header-nav-item li {
  width: 100%;
  padding-left: 21px;
  padding-top: 13px;
  padding-bottom: 11px;
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;
  transition: 250ms linear;
}
.header-nav-item li:hover, .header-nav-item li:focus {
  cursor: pointer;
}
.header-nav-item li a {
  color: inherit;
  transition: 250ms linear;
}
.header-nav-item li:hover a, .header-nav-item li:focus a {
  color: #d41443;
  outline: none;
  border: none;
}
@media screen and (min-width: 1200px) {
  .header-nav-item li {
    font-size: 16px;
    line-height: 21px;
    border: none;
    padding: 0;
    width: auto;
  }
  .header-nav-item li:not(:last-child) {
    margin-right: 30px;
  }
}

.tablet-desc-btn {
  display: none;
  font-size: 16px;
  line-height: 21px;
}
@media screen and (min-width: 768px) {
  .tablet-desc-btn {
    display: block;
    width: 160px;
  }
}

.nav-button-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}
.nav-button-wrapper .button {
  width: 200px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .nav-button-wrapper .button {
    width: 180px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-button-wrapper .button {
    display: none;
  }
}

.nav-close-button {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  margin-bottom: 24px;
  margin-left: auto;
}
.nav-close-button .nav-close-icon {
  width: 14px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .nav-close-button {
    display: none;
  }
}

.preview-shop {
  display: none;
}
@media screen and (min-width: 768px) {
  .preview-shop {
    height: 100%;
    display: block;
    margin-left: 475px;
  }
}
@media screen and (min-width: 1200px) {
  .preview-shop {
    margin-left: 700px;
  }
}
.preview-shop .preview-shop-item {
  width: 60px;
  background-image: url(/shop-item-bg.44e032ef.png);
  background-repeat: no-repeat;
  background-position: right 0 top 0;
  margin-bottom: 13px;
}
.preview-shop .preview-shop-item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .preview-shop .preview-shop-item {
    background-image: url(/shop-item-bg-desc.68784501.png);
    width: 90px;
  }
}
.preview-shop .preview-shop-item p:first-child {
  padding-left: 15px;
  font-family: Titan One;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 1200px) {
  .preview-shop .preview-shop-item p:first-child {
    font-size: 46px;
    line-height: 53px;
  }
}
.preview-shop .preview-shop-item p:nth-child(2) {
  padding-right: 12px;
  text-align: right;
  font-family: DM Sans;
  font-size: 8px;
  line-height: 10px;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .preview-shop .preview-shop-item p:nth-child(2) {
    font-size: 14px;
    line-height: 18px;
  }
}

.preview-description {
  display: none;
  width: 114px;
  font-family: DM Sans;
  font-size: 8px;
  line-height: 150%;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .preview-description {
    display: block;
    margin-left: 120px;
    margin-top: 66px;
  }
}
@media screen and (min-width: 1200px) {
  .preview-description {
    width: 200px;
    font-size: 14px;
    line-height: 140%;
    margin-left: 180px;
    margin-top: 112px;
  }
}
.preview-description .btn-new-page {
  margin: 0;
  margin-top: 20px;
  width: 26px;
  height: 26px;
}
@media screen and (min-width: 768px) {
  .preview-description .btn-new-page {
    width: 18px;
    height: 18px;
    margin-top: 7px;
  }
}
@media screen and (min-width: 1200px) {
  .preview-description .btn-new-page {
    margin-top: 20px;
    width: 26px;
    height: 26px;
  }
}
.preview-description .btn-new-page .products-link-icon {
  width: 8px;
}

.preview {
  background-color: #ffb8ca;
}
.preview .container {
  height: 502px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffb8ca;
  background-image: url(/ice.94f848a1.png), url(/preview-circle.83d1b249.png);
  background-repeat: no-repeat;
  background-position: bottom 0px right 32px, right 0px top 83px;
}
@media screen and (min-width: 768px) {
  .preview .container {
    align-items: start;
    justify-content: start;
    height: 400px;
    padding-top: 102px;
    background-image: url(/prev-bg-ice.15f2f291.png), url(/prev-bg-girl.8cb5d960.png), url(/prev-bg-sircle.61265a45.png), url(/prev-bg-milk.02ee5a22.png);
    background-repeat: no-repeat;
    background-position: left 378px bottom 0, right 34px bottom 0, left 307px top 31px, left 34px bottom 28px;
  }
}
@media screen and (min-width: 1200px) {
  .preview .container {
    height: 665px;
    padding: 0 40px;
    padding-top: 171px;
    background-image: url(/prev-bg-ice-desc.47539bc7.png), url(/prev-bg-girl-desc.0ce2dda5.png), url(/prev-bg-sircle-desc.e038e88e.png), url(/prev-bg-milk-desc.57f215a0.png);
    background-position: left 480px bottom 0, right 35px bottom 0, left 360px top 52px, left 30px bottom 45px;
  }
}

@media screen and (min-width: 768px) {
  .preview-title-wrapper {
    display: flex;
  }
}

.preview-button {
  display: flex;
}
@media screen and (max-width: 1999px) {
  .preview-button .button {
    font-size: 8px;
    line-height: 10px;
    font-weight: 400;
    padding: 11px 14px;
    height: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .preview-button .button {
    font-size: 14px;
    line-height: 18px;
    padding: 11px 22px;
    height: 40px;
  }
}
.preview-button button:first-child {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .products {
    padding-top: 121px;
    padding-bottom: 98px;
  }
}
@media screen and (min-width: 768px) {
  .products {
    padding-top: 122px;
    padding-bottom: 112px;
  }
}
@media screen and (min-width: 1200px) {
  .products {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products-wraper h2 {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .products-wraper h2 {
    margin-bottom: 28px;
  }
}

.products-item-container {
  padding-top: 130px;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .products-item-container {
    padding-top: 110px;
  }
}
@media screen and (min-width: 1200px) {
  .products-item-container {
    padding-top: 210px;
  }
}

.products-item {
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .products-item {
    display: flex;
    justify-content: space-between;
  }
}

.products-container {
  border-radius: 24px;
  position: relative;
  padding: 161px 40px 41px;
}
@media screen and (min-width: 768px) {
  .products-container {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (max-width: 767px) {
  .products-container:not(:last-child) {
    margin-bottom: 130px;
  }
}
@media screen and (min-width: 768px) {
  .products-container {
    padding: 152px 11px 40px;
  }
  .products-container:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .products-container {
    width: 329px;
    height: 525px;
    padding: 163px 44px 50px;
  }
  .products-container:not(:last-child) {
    margin-right: 30px;
  }
}
.products-container-cream {
  background: #ffb8ca;
}
.products-container-coffee {
  background: #f0d1a5;
}
.products-container-milkshakes {
  background: #c2e297;
}
.products-container:before {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 100%;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.products-container-cream::before {
  height: 252px;
  top: -24%;
  background-image: url(/ice-creame1@1x.666bd6af.png);
}
@media screen and (min-width: 768px) {
  .products-container-cream::before {
    height: 233px;
    transform: translateX(2%);
  }
}
@media screen and (min-width: 1200px) {
  .products-container-cream::before {
    height: 335px;
    top: -40%;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products-container-cream::before {
    background-image: url(/ice-creame1@2x.e50b1f0f.png);
  }
}
.products-container-coffee::before {
  height: 252px;
  top: -24%;
  background-image: url(/ice-coffee2@1x.e12c470a.png);
}
@media screen and (min-width: 768px) {
  .products-container-coffee::before {
    height: 233px;
    transform: translateX(2%);
  }
}
@media screen and (min-width: 1200px) {
  .products-container-coffee::before {
    height: 335px;
    top: -40%;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products-container-coffee::before {
    background-image: url(/ice-coffee2@2x.4accda1d.png);
  }
}
.products-container-milkshakes::before {
  height: 252px;
  top: -24%;
  right: -2%;
  background-image: url(/milkshakes3@1x.d41a4270.png);
}
@media screen and (min-width: 768px) {
  .products-container-milkshakes::before {
    height: 233px;
    transform: translateX(2%);
  }
}
@media screen and (min-width: 1200px) {
  .products-container-milkshakes::before {
    height: 335px;
    top: -40%;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products-container-milkshakes::before {
    background-image: url(/milkshakes3@2x.3d24b44e.png);
  }
}
.products-container-title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .products-container-title {
    font-size: 30px;
    line-height: 1.13;
  }
}
.products-container-title::after {
  content: "";
  width: 30px;
  height: 20px;
  display: block;
  margin: 30px auto;
  background-image: url(/points.04f2542b.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
@media screen and (min-width: 1200px) {
  .products-container-title::after {
    margin: 32px auto;
  }
}

.btn-new-page {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  background-color: #ffffff;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms linear, transform 250ms linear;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .btn-new-page {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .btn-new-page {
    margin-top: 62px;
  }
}

.btn-new-page:hover,
.btn-new-page:focus {
  background-color: #d41443;
  transform: scale(1.3) rotate(360deg);
}

.products-link-icon {
  width: 15px;
  height: 15px;
  fill: #d41443;
  transition: fill 250ms linear;
}

.btn-new-page:hover .products-link-icon,
.btn-new-page:focus .products-link-icon {
  fill: #ffffff;
}

.howmade {
  position: relative;
  padding-top: 125px;
}
@media screen and (max-width: 767px) {
  .howmade {
    background-color: #fff5f6;
    background-image: url(/howmade-background.5c4f94df.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 790px left 0px;
  }
}
@media screen and (min-width: 1200px) {
  .howmade {
    background-color: #fff5f6;
    background-image: url(/howmade-background-pc.f35d3be9.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top 342px left 0px;
  }
}

.howmade-list-item-first::before {
  content: "";
  display: block;
  width: 33px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(/howmadeicon1.5bc86d8a.png);
}

.howmade-list-item-second::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(/howmadeicon2.75c55f11.png);
}

.howmade-list-item-third::before {
  content: "";
  display: block;
  width: 44px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(/howmadeicon3.78c09f15.png);
}

.howmade-discrblock {
  margin-left: 30px;
  width: 220px;
}

.howmade-uppertext {
  margin-top: 46px;
  margin-bottom: 23px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.583;
  color: #000000;
}

.howmade-discrtext {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.583;
  color: #907e82;
  letter-spacing: 0.04em;
}

.howmade-paragraph {
  margin-top: 10px;
}

.howmade-discrblock .button {
  margin-top: 17px;
}
@media screen and (min-width: 768px) {
  .howmade-discrblock .button {
    margin-top: 60px;
  }
}

.howmade-list {
  margin-top: 39px;
}
.howmade-list-options {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: Titan One;
  font-size: 36px;
  line-height: 1.139;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
.howmade-list-about {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.666;
  letter-spacing: 0.02em;
  color: #000000;
}
.howmade-list-item {
  width: 230px;
  background-repeat: no-repeat;
  margin-bottom: 38px;
}
.howmade-list-item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .howmade {
    background-color: #fff5f6;
  }

  .howmade-discrblock {
    width: 340px;
  }

  .howmade-uppertext {
    font-size: 14px;
    line-height: 1.785;
  }

  .howmade-discrtext {
    font-size: 14px;
    line-height: 1.785;
  }

  .howmade-cowblock {
    display: flex;
  }

  .how-made-btn {
    margin-top: 62px;
  }

  .howmade-list {
    display: flex;
    margin-top: 66px;
  }
  .howmade-list-item {
    margin-bottom: 0;
    margin-right: 60px;
    width: 180px;
  }
  .howmade-list-item:last-child {
    margin-right: 0;
  }
  .howmade-list-options {
    margin-top: 36px;
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 1.145;
  }
  .howmade-list-about {
    font-size: 14px;
    line-height: 1.714;
  }
}
@media screen and (min-width: 1200px) {
  .howmade-uppertext,
.howmade-discrtext {
    font-size: 14px;
    line-height: 1.928;
  }

  .howmade-list-item {
    width: 330px;
    margin-right: 30px;
  }
  .howmade-list-options {
    font-size: 58px;
    line-height: 1.137;
  }
  .howmade-list-about {
    font-size: 16px;
    line-height: 1.75;
  }
}
.howmade {
  padding-bottom: 145px;
}
@media screen and (min-width: 768px) {
  .howmade {
    padding-bottom: 246px;
  }
}
@media screen and (min-width: 1200px) {
  .howmade {
    padding-bottom: 310px;
  }
}

.gallery-container {
  position: absolute;
  bottom: -73px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  width: 320px;
  height: 122px;
  background-image: url(/gallery-mobile.8cc5ec35.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 320px) {
  .gallery-container {
    background-image: url(/gallery-mobile.8cc5ec35.png);
  }
}
@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-width: 320px) and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-width: 320px) and (min-resolution: 2dppx) and (min-width: 320px) {
  .gallery-container {
    background-image: url(/gallery-mobile@2x.68f5d191.png);
  }
}
@media screen and (min-width: 768px) {
  .gallery-container {
    bottom: -159px;
    width: 768px;
    height: 264px;
    background-image: url(/gallery-tablet.b79a174c.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .gallery-container {
    background-image: url(/gallery-tablet@2x.a79779b7.png);
  }
}
@media screen and (min-width: 1200px) {
  .gallery-container {
    bottom: -259px;
    width: 1050px;
    height: 430px;
    background-image: url(/gallery-tablet.b79a174c.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 1200px) {
  .gallery-container {
    background-image: url(/gallery-tablet@2x.a79779b7.png);
  }
}

.reviews {
  padding-top: 154px;
}
@media screen and (min-width: 768px) {
  .reviews {
    padding-top: 279px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews {
    padding-top: 385px;
  }
}

.slider-area {
  margin-bottom: 170px;
}
@media screen and (min-width: 768px) {
  .slider-area {
    margin-bottom: 197px;
  }
}
@media screen and (min-width: 1200px) {
  .slider-area {
    margin-bottom: 234px;
  }
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.reviews-picture {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .reviews-picture {
    margin-bottom: 19px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews-picture {
    margin-bottom: 29px;
  }
}

.review-text-block {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 43px 66px 26px 57px;
  background-color: #fafafa;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .review-text-block {
    padding: 30px 36px 28px 40px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .review-text-block {
    padding: 32px 54px 32px 50px;
    margin-bottom: 15px;
  }
}

.review-text-block::after {
  content: "";
  position: absolute;
  top: 28px;
  left: 50px;
  width: 54px;
  height: 40px;
  background-image: url(/quotes.ad2a46ab.png);
  background-repeat: no-repeat;
  color: #e1e1e1;
}
@media screen and (min-width: 768px) {
  .review-text-block::after {
    top: 14px;
    left: 46px;
  }
}
@media screen and (min-width: 1200px) {
  .review-text-block::after {
    top: 15px;
    left: 124px;
  }
}

.review-text {
  width: 100%;
  line-height: 2.55;
}
@media screen and (min-width: 768px) {
  .review-text {
    width: 460px;
    font-size: 14px;
    line-height: 2.16;
  }
}
@media screen and (min-width: 1200px) {
  .review-text {
    width: 750px;
    font-size: 16px;
    line-height: 1.875;
  }
}

.review-text-wrapper {
  position: relative;
  background: repeating-linear-gradient(to bottom, transparent, transparent 26px, #e1e1e1 1px, #e1e1e1 27px);
  z-index: 999;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .review-text-wrapper {
    background: repeating-linear-gradient(to bottom, transparent, transparent 29px, #e1e1e1 1px, #e1e1e1 30px);
  }
}

.review-customer {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.857;
}
@media screen and (min-width: 768px) {
  .review-customer {
    font-size: 16px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .review-customer {
    font-size: 20px;
    line-height: 1.86;
  }
}

.review-customer::before {
  content: "";
  margin: 0 auto 18px;
  display: block;
  width: 32px;
  height: 4px;
  background-image: url(/points.77c7fc6f.svg);
}

.reviews-icon {
  width: 12.4px;
  height: 11.84px;
}

.location {
  position: relative;
  background-color: #FFF5F6;
}

.loc-cont {
  position: relative;
  top: -84px;
}

.btn-arrow {
  margin-left: 10px;
}

.location-buttons button {
  margin-bottom: 10px;
}
.location-buttons button:nth-child(2) {
  margin-bottom: 0;
}

.location-icon {
  margin-left: 10px;
  fill: white;
}

.location-container {
  margin-bottom: 54px;
}

.location-list {
  background-color: #FFFFFF;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 20px;
  width: 220px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.location-list:nth-child(3) {
  margin-bottom: 0;
}
.location-list-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  text-align: center;
  background-color: #F0D1A5;
  border-radius: 4px;
  display: inline-block;
  padding: 0 10px;
}
@media screen and (min-width: 768px) {
  .location-list-title {
    font-size: 16px;
    line-height: 1.875;
  }
}
.location-list-greentitle {
  width: 130px;
  text-align: center;
  background-color: #C2E297;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .location-list-greentitle {
    font-size: 16px;
    line-height: 1.875;
    width: 138px;
  }
}

.location-city,
.location-shadule {
  line-height: 1.833;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .location-city,
.location-shadule {
    font-size: 14px;
    line-height: 1.857;
  }
}
@media screen and (min-width: 1200px) {
  .location-city,
.location-shadule {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.04em;
  }
}

.location-city {
  letter-spacing: 0.04em;
}

.location-description {
  font-weight: 500;
  line-height: 1.5;
  color: #907E82;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .location-description {
    font-size: 14px;
    line-height: 1.642;
  }
}
@media screen and (min-width: 1200px) {
  .location-description {
    font-size: 16px;
    line-height: 1.812;
    letter-spacing: 0.04em;
  }
}

.location-hours {
  font-weight: 500;
  line-height: 1.833;
  color: #FFA5BA;
}
@media screen and (min-width: 768px) {
  .location-hours {
    font-size: 14px;
    line-height: 1.857;
  }
}
@media screen and (min-width: 1200px) {
  .location-hours {
    font-size: 16px;
    line-height: 1.875;
  }
}

.location-contacts {
  margin-top: 25px;
}
.location-contacts-link {
  font-weight: 500;
  line-height: 1.2;
  color: #907E82;
}
@media screen and (min-width: 768px) {
  .location-contacts-link {
    font-size: 14px;
    line-height: 1.857;
  }
}
@media screen and (min-width: 1200px) {
  .location-contacts-link {
    font-size: 16px;
    line-height: 1.812;
  }
}

.location-firstblock {
  margin-top: 25px;
}

.location-secondblock {
  margin-top: 25px;
}

.location-firstblock::after {
  content: "";
  border: 1px solid #E1E1E1;
  width: 90%;
  margin-top: 25px;
  display: block;
}

.location-secondblock::after {
  content: "";
  border: 1px solid #E1E1E1;
  width: 90%;
  margin-top: 25px;
  display: block;
}

.location-formargin {
  margin-top: 10px;
}

.location-email {
  margin-top: 6px;
}

.location-buttons {
  display: block;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .location {
    position: relative;
  }

  .loc-cont {
    position: relative;
    top: -78px;
  }

  .location-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .location-list {
    margin-bottom: 0;
    margin-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: calc(100% / 3 - 20px);
  }
  .location-list:nth-child(3) {
    margin-right: 0;
    margin-bottom: 0;
  }

  .location-buttons {
    margin-top: 81px;
  }
  .location-buttons :nth-child(1) {
    margin-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .location-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: -30px;
  }

  .location-list {
    width: calc(100% / 3 - 30px);
    padding-left: 43px;
    padding-right: 43px;
    padding-top: 51px;
    padding-bottom: 62px;
    margin-right: 30px;
  }

  .location-buttons {
    margin-top: 86px;
  }

  .location {
    position: relative;
    background-image: url(/locationbg.cd147094.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .loc-cont {
    position: relative;
    top: -102px;
  }
}
.footer {
  background-color: #FFF5F6;
}

.footer .container {
  display: flex;
  flex-direction: column;
  padding-bottom: 43px;
  padding-top: 29px;
}
@media screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 91px;
    padding-top: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    padding-bottom: 97px;
    padding-top: 63px;
  }
}

.footer-title-thumb {
  align-self: flex-start;
  max-width: 234px;
}
@media screen and (max-width: 767px) {
  .footer-title-thumb {
    margin-bottom: 43px;
  }
}
@media screen and (min-width: 768px) {
  .footer-title-thumb {
    max-width: 345px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-title-thumb {
    max-width: 480px;
  }
}

.footer .section-title-label {
  margin-bottom: 0px;
  line-height: 1.167;
}
@media screen and (min-width: 768px) {
  .footer .section-title-label {
    line-height: 1.154;
  }
}
@media screen and (min-width: 1200px) {
  .footer .section-title-label {
    line-height: 1.133;
  }
}

.footer-title-accent {
  display: block;
  font-size: 34px;
  line-height: 1.147;
  color: #d41443;
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .footer-title-accent {
    font-size: 48px;
    line-height: 1.146;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .footer-title-accent {
    font-size: 58px;
    line-height: 1.138;
  }
}

@media screen and (max-width: 767px) {
  .socials-thumb {
    align-self: flex-end;
  }
}

.socials {
  display: flex;
  margin-bottom: 46px;
  justify-content: flex-end;
}
@media screen and (min-width: 1200px) {
  .socials {
    margin-bottom: 50px;
  }
}

.socials-item:not(:last-child) {
  margin-right: 28px;
}
@media screen and (min-width: 768px) {
  .socials-item:not(:last-child) {
    margin-right: 30px;
  }
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fea5bb;
  transition: 250ms linear;
}
.socials-link:hover, .socials-link:focus {
  background-color: #d41443;
}

.socials-svg {
  width: 19px;
  height: 19px;
}
.socials-svg.facebook {
  width: 9px;
  height: 19px;
}

.phone-text {
  font-weight: 700;
  line-height: 1.86;
  letter-spacing: 0.02em;
}
.phone-text-link {
  display: inline-block;
  color: #d41443;
  font-weight: 500;
}

.copyright-thumb {
  width: 100%;
  padding-top: 22px;
  padding-bottom: 25px;
  border-top: 1px solid #E1E1E1;
}
@media screen and (min-width: 768px) {
  .copyright-thumb {
    padding-top: 29px;
    padding-bottom: 18px;
  }
}

.copyright {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #907e82;
}
@media screen and (max-width: 767px) {
  .copyright {
    max-width: 150px;
    margin: 0 auto;
    line-height: 1.52;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */