$main-font: 'Titan One', sans-serif;
$secondary-font: 'DM Sans', sans-serif;

$primary-bg-color: #e5e5e5;
$accent-bg-color: #ffb8ca;
$secondary-bg-color: #fff5f6;
$white-color: #ffffff;
$text-acent-color: #d41443;
$primary-text-color: #000000;
$secondary-text-color: #907e82;
$pink-text-color: #ffa5ba;
$social-links-color: #fea5bb;
$beige-bg-color: #f0d1a5;
$green-bg-color: #c2e297;
