<footer class="footer">
    <div class="container">
        <div class="footer-title-thumb">
            <h2 class="footer-undertitle">homemade ice cream made</h2>
            <span class="footer-title">with passion</span>
        </div>
        <div class="socials-thumb">
            <ul class="socials">
                <li class="socials-item">
                    <a href="#" class="socials-link">
                        <svg class="socials-svg github">
                            <use href="./images/sprite.svg#github"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials-item">
                    <a href="#" class="socials-link">
                        <svg class="socials-svg telegram">
                            <use href="./images/sprite.svg#telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials-item">
                    <a href="#" class="socials-link">
                        <svg class="socials-svg facebook">
                            <use href="./images/sprite.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="phone-text">Feel free to contact
                <a href="tel:+61(0)383766284" class="phone-text-link"> +61 (0) 383 766 284</a>
            </p>
        </div>
    </div>
    <div class="copyright-thumb">
        <p class="copyright">&copy; 2019 - IceCream. All Rights Reserved. </p>
    </div>
</footer>