<header>
  <div class="container">
    <div class="header-wrapper">
      <div class="header-logo animate__tada">
        <img src="../src/images/header-logo.png" alt="">
      </div>
      <nav class="header-navigation" data-menu data-menu-closed>
        <div class="header-close-button-wrapper" close-menu-button>
          <svg class="header-close-button">
            <use href="../src/images/sprite.svg#close">
            </use>
          </svg>
        </div>

        <button class="header-btn-menu button">Buy now
          <svg class="btn-arrow" width="10" height="10">
            <use href="./images/sprite.svg#btn-arrow"></use>
          </svg>
        </button>
        <ul class="header-nav-item">
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">How it’s made?</a></li>
          <li><a href="#">Our products</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <button class="header-m-btn" data-menu-button>
        <svg class="header-menu-button">
          <use href="./images/sprite.svg#menu"></use>
        </svg>
      </button>
      <button class="header-btn-menu button tab-desc-btn">Buy now
        <svg class="btn-arrow" width="10" height="10">
          <use href="./images/sprite.svg#btn-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</header>