<section class="howmade">
    <div class="container">
        <h3 class="howmade-undertitle">TRADITION AND LOVE</h3>
        <h2 class="howmade-title">HOW IT'S MADE?</h2>
        <picture>
            <source srcset="../src/images/howmade-pc.jpg 1x, ../src/images/howmade-pc@2x.jpg 2x"
                media="(min-width: 1200px)">
            <source srcset="../src/images/howmade-tablet.jpg 1x, ../src/images/howmade-tablet@2x.jpg 2x"
                media="(min-width: 768px)">
            <source srcset="../src/images/howmade-mobile.jpg 1x, ../src/images/howmade-mobile@2x.jpg 2x"
                media="(min-width: 320px)">
            <img src="../src/images/howmade-pc.jpg" alt="caw milk">
        </picture>
        <p class="howmade-uppertext">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
            faucibus
            lorem eget, egestas
            eros.
            Maecenas eleifend erat at justo fringilla.</p>
        <p class="howmade-discrtext">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris
            rhoncus orci in imperdiet
            placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, <br> tincidunt.
            <br>
            <br>
            Aliquam erat volutpat.
            Aenean accumsan.</p>
        <button class="howmade-button">Read more</button>
        <ul class="howmade-list">
            <li class="howmade-list-item">
                <img src="../src/images/howmadeicon1.png" alt="howmade first icon">
                <p class="howmade-list-options">721</p>
                <p class="howmade-list-about">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="howmade-list-item">
                <img src="../src/images/howmadeicon2.png" alt="howmade second icon">
                <p class="howmade-list-options">16KG</p>
                <p class="howmade-list-about">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="howmade-list-item">
                <img src="../src/images/howmadeicon3.png" alt="howmade third icon">
                <p class="howmade-list-options">84</p>
                <p class="howmade-list-about">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>