<section class="howmade">
  <div class="container">
    <h2 class="title section-title">
      <span class="section-title-label">TRADITION AND LOVE</span>HOW IT'S MADE?
    </h2>
    <div class="howmade-cowblock">
      <picture>
        <source
          srcset="
            ../src/images/howmade-pc.png    1x,
            ../src/images/howmade-pc@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ../src/images/howmade-tablet.png    1x,
            ../src/images/howmade-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../src/images/howmade-mobile.png    1x,
            ../src/images/howmade-mobile@2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img src="../src/images/howmade-pc.png" alt="caw milk" />
      </picture>
      <div class="howmade-discrblock">
        <p class="howmade-uppertext">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="howmade-discrtext">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="howmade-discrtext howmade-paragraph">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="button">
          Read more
          <svg class="btn-arrow" width="10" height="10">
            <use href="./images/sprite.svg#btn-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <ul class="howmade-list">
      <li class="howmade-list-item howmade-list-item-first">
        <p class="howmade-list-options">721</p>
        <p class="howmade-list-about">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="howmade-list-item howmade-list-item-second">
        <p class="howmade-list-options">16KG</p>
        <p class="howmade-list-about">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="howmade-list-item howmade-list-item-third">
        <p class="howmade-list-options">84</p>
        <p class="howmade-list-about">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
  <!-- =============================галлерея====================== -->
  <div class="gallery-container"></div>
</section>
