<section class="location">
    <div class="container loc-cont">
        <ul class="location-container">
            <li class="location-list">
                <h3 class="location-list-title">CAFE</h3>
                <div class="location-firstblock">
                    <h3 class="location-city">Chicago</h3>
                    <p class="location-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="location-secondblock">
                    <h3 class="location-shadule">Monday - Friday</h3>
                    <p class="location-hours">06:00 AM - 10:00 PM</p>
                    <h3 class="location-shadule location-formargin">Saturday - Sunday</h3>
                    <p class="location-hours">08:00 AM - 16:00 PM</p>
                </div>
                <div class="location-contacts">
                    <a class="location-contacts-link" href="tel:+61(0)383766284">+61(0)383 766 284</a>
                    <a class="location-contacts-link location-email"
                        href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </li>
            <li class="location-list">
                <h3 class="location-list-title location-list-greentitle">FOOD TRUCK</h3>
                <div class="location-firstblock">
                    <h3 class="location-city">Los Angeles</h3>
                    <p class="location-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="location-secondblock">
                    <h3 class="location-shadule">Monday - Friday</h3>
                    <p class="location-hours">06:00 AM - 10:00 PM</p>
                    <h3 class="location-shadule location-formargin">Saturday - Sunday</h3>
                    <p class="location-hours">08:00 AM - 16:00 PM</p>
                </div>
                <div class="location-contacts">
                    <a class="location-contacts-link" href="tel:+61(0)383766284">+61(0)383 766 284</a>
                    <a class="location-contacts-link location-email"
                        href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </li>
            <li class="location-list">
                <h3 class="location-list-title">CAFE</h3>
                <div class="location-firstblock">
                    <h3 class="location-city">New York</h3>
                    <p class="location-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="location-secondblock">
                    <h3 class="location-shadule">Monday - Friday</h3>
                    <p class="location-hours">06:00 AM - 10:00 PM</p>
                    <h3 class="location-shadule location-formargin">Saturday - Sunday</h3>
                    <p class="location-hours">08:00 AM - 16:00 PM</p>
                </div>
                <div class="location-contacts">
                    <a class="location-contacts-link" href="tel:+61(0)383766284">+61(0)383 766 284</a>
                    <a class="location-contacts-link location-email"
                        href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </li>
        </ul>
        <div class="location-buttons">
            <button type="button" class="location-btn button">Our Locations
            </button>
            <button type="button" class="location-btn2 button">Franchise
            </button>
        </div>
    </div>
</section>