<section class="location">
  <div class="container loc-cont">
    <h2 class="title section-title visually-hidden">OUR LOCATIONS</h2>
    <ul class="location-container">
      <li class="location-list">
        <p class="location-list-title">CAFE</p>
        <div class="location-firstblock">
          <p class="location-city">Chicago</p>
          <p class="location-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="location-secondblock">
          <p class="location-shadule">Monday - Friday</p>
          <p class="location-hours">06:00 AM - 10:00 PM</p>
          <p class="location-shadule location-formargin">Saturday - Sunday</p>
          <p class="location-hours">08:00 AM - 16:00 PM</p>
        </div>
        <div class="location-contacts">
          <a class="location-contacts-link" href="tel:+610383766284"
            >+61(0)383 766 284</a
          >
          <a
            class="location-contacts-link location-email"
            href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="location-list">
        <p class="location-list-title location-list-greentitle">FOOD TRUCK</p>
        <div class="location-firstblock">
          <p class="location-city">Los Angeles</p>
          <p class="location-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="location-secondblock">
          <p class="location-shadule">Monday - Friday</p>
          <p class="location-hours">06:00 AM - 10:00 PM</p>
          <p class="location-shadule location-formargin">Saturday - Sunday</p>
          <p class="location-hours">08:00 AM - 16:00 PM</p>
        </div>
        <div class="location-contacts">
          <a class="location-contacts-link" href="tel:+610383766284"
            >+61(0)383 766 284</a
          >
          <a
            class="location-contacts-link location-email"
            href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="location-list">
        <p class="location-list-title">CAFE</p>
        <div class="location-firstblock">
          <p class="location-city">New York</p>
          <p class="location-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="location-secondblock">
          <p class="location-shadule">Monday - Friday</p>
          <p class="location-hours">06:00 AM - 10:00 PM</p>
          <p class="location-shadule location-formargin">Saturday - Sunday</p>
          <p class="location-hours">08:00 AM - 16:00 PM</p>
        </div>
        <div class="location-contacts">
          <a class="location-contacts-link" href="tel:+610383766284"
            >+61(0)383 766 284</a
          >
          <a
            class="location-contacts-link location-email"
            href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <div class="location-buttons">
      <button type="button" class="button button-accent">
        Our Locations
        <svg class="location-icon" width="10" height="10">
          <use href="./images/sprite.svg#btn-arrow-white"></use>
        </svg>
      </button>
      <button type="button" class="button">
        Franchise
        <svg class="btn-arrow" width="10" height="10">
          <use href="./images/sprite.svg#btn-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
