<section class="preview">
  <div class="container">
    <div class="preview-wrapper">
      <h1>ice cream
        made with
        <span>passion</span></h1>
      <div class="preview-button">
        <button type="button" class="preview-btn">Products</button>
        <button class="preview-btn2">How it’s made?</button>
      </div>
      <div class="preview-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <svg>
          <use href="./images/sprite.svg#icon-right-arrow"></use>
        </svg>
      </div>
    </div>
  </div>
</section>