<section class="products">
    <div class="container products-wraper">
        <h2 class="products-title"> 100% natural
        <span class="products-name-title">products</span>
        </h2>
        <ul class="products-item">
            <li class="products-container products-container-cream">
                <h3 class="products-container-title">ice cream</h3>
                <p class="products-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <a href="" class="btn-new-page">
                    <svg class="products-link-icon">
                        <use href="./images/sprite.svg#icon-right-arrow"></use>
                    </svg>
                </a>
            </li>
             <li class="products-container products-container-coffee">
                <h3 class="products-container-title">ice coffee</h3>
                <p class="products-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <a href="" class="btn-new-page">
                    <svg class="products-link-icon">
                        <use href="./images/sprite.svg#icon-right-arrow"></use>
                    </svg>
                </a>
            </li>
             <li class="products-container products-container-milkshakes">
                <h3 class="products-container-title">milkshakes</h3>
                <p class="products-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                 <a href="" class="btn-new-page">
                    <svg class="products-link-icon">
                        <use href="./images/sprite.svg#icon-right-arrow"></use>
                    </svg>
                 </a>
            </li>
        </ul>
    </div>
</section>