<section class="reviews-carousel" aria-labelledby="carouselheading">
    <div>
        <h3 id="carouselheading" class="visuallyhidden">Rewiews</h3>
            <ul>
                <li class="slide">
                    <picture>
                        <source
                            srcset="./images/reviews/customer1-desktop.jpg 1x, ./images/reviews/customer1-desktop@2x.jpg 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./images/reviews/customer1-tablet.jpg 1x, ./images/reviews/customer1-tablet@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/reviews/customer1-mobile.jpg 1x, ./images/reviews/customer1-mobile@2x.jpg 2x"
                            media="(min-width: 320px)">
                        <!-- <img src="./images/reviews/customer1.jpg" alt="customer 1 photo" -->
                            <!-- class="about-list-item-img"> -->
                    </picture>

                        <p class="review-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                        <p class="review-person">Emily, Los Angeles</p>
                </li>

                <!-- <li class="slide">
                    <picture>
                        <source
                            srcset="./images/reviews/customer2-desktop.jpg 1x, ./images/reviews/customer2-desktop@2x.jpg 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./images/reviews/customer2-tablet.jpg 1x, ./images/reviews/customer2-tablet@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/reviews/customer2-mobile.jpg 1x, ./images/reviews/customer2-mobile@2x.jpg 2x"
                            media="(min-width: 320px)">
                            <img src="./images/reviews/customer2.jpg" alt="customer 2 photo"
                            class="about-list-item-img">
                    </picture> -->

                        <p class="review-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                        <p class="review-person">Emily, Los Angeles</p>
                </li>

                <!-- <li class="slide">
                    <picture>
                        <source
                            srcset="./images/reviews/customer3-desctop.jpg 1x, ./images/reviews/customer3-desctop@2x.jpg 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./images/reviews/customer3-tablet.jpg 1x, ./images/reviews/customer3-tablet@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/reviews/customer3-mobile.jpg 1x, ./images/reviews/customer3-mobile@2x.jpg 2x"
                            media="(min-width: 320px)">
                            <img src="./images/reviews/customer3.jpg" alt="customer 3 photo"
                            class="about-list-item-img">
                    </picture> -->

                        <p class="review-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                        <p class="review-person">Emily, Los Angeles</p>
                </li>
            </ul>
    </div>


    <div>
        <ul>
            <li class="">
                <a href="#" class="">
                    <svg class="reviews-home-icon">
                        <use></use>
                    </svg>
                </a>
            </li>

            <li class="">
                <a href="#" class="">
                    <svg class="reviews-choice-icon">
                        <use></use>
                    </svg>
                </a>
            </li>

            <li class="">
                <a href="#" class="">
                    <svg class="reviews-choice-icon">
                        <use"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    
    
</section>