.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 22px;
  padding: 11px 25px;
  font-weight: 700;
  font-size: 16px;
  font-family: $secondary-font;
  line-height: 1.31;
  color: #d41443;
  text-align: center;
  background: #ffffff;
  transition: 250ms linear;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    background: #ecebeb;
  }
}

.button-accent {
  background-color: #d41443;
  color: #fff;

  &:hover,
  &:focus {
    background: #c7133e;
  }
}
