.footer {
    background-color: #FFF5F6;
}

.footer .container {
    display: flex;
    flex-direction: column;

    padding-bottom: 43px;
    padding-top: 29px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 91px;
        padding-top: 87px;
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 97px;
        padding-top: 63px;
    }
}

// ==========footer-title====================

.footer-title-thumb {

    align-self: flex-start;
    max-width: 234px;

    @media screen and (max-width: 767px) {
        margin-bottom: 43px;
    }

    @media screen and (min-width: 768px) {
        max-width: 345px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 480px;
    }
}

.footer .section-title-label {
    margin-bottom: 0px;
    line-height: 1.167; 

    @media screen and (min-width:768px) {
        line-height: 1.154;
    }

    @media screen and (min-width: 1200px) {
        line-height: 1.133;
    }

}

.footer-title-accent {
    display: block;
    font-size: 34px;
    line-height: 1.147;
    color: $text-acent-color;
    margin-top: 15px;

    @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 1.146;
        letter-spacing: 0.06em;
    }

    @media screen and (min-width: 1200px) {
        font-size: 58px;
        line-height: 1.138;
    }

}

// ===============соц сети====================

.socials-thumb {
    @media screen and (max-width: 767px) {
        align-self: flex-end;
    }
}

.socials {
    display: flex;
    margin-bottom: 46px;
    justify-content: flex-end;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.socials-item:not(:last-child) {
    margin-right: 28px;

    @media screen and (min-width: 768px) {
        margin-right: 30px
    }

}

.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $social-links-color;
    transition: 250ms linear;

    &:hover,
    &:focus {
        background-color: $text-acent-color;
    }
}

.socials-svg {
    width: 19px;
    height: 19px;
    
    &.facebook {
        width: 9px;
        height: 19px;
    }

}

// ===============телефон===============

.phone-text {
    font-weight: 700;
    line-height: 1.86;
    letter-spacing: 0.02em;

    &-link {
        display: inline-block;
        color: $text-acent-color;
        font-weight: 500;

    }

}

// =================копирайт====================

.copyright-thumb {
    width: 100%;
    padding-top: 22px;
    padding-bottom: 25px;
    border-top: 1px solid #E1E1E1;

    @media screen and (min-width: 768px) {
        padding-top: 29px;
        padding-bottom: 18px;
    }
}

.copyright {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: $secondary-text-color;

    @media screen and (max-width: 767px) {
        max-width: 150px;
        margin: 0 auto;
        line-height: 1.52;
    }

}