
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .container {
    position: relative;
    display: flex;
    align-items: center;
    height: 56px;
    padding-top: 6px;
    @media screen and (min-width: 768px) {
      height: 87px;
      padding-top: 37px;
    }
    @media screen and (min-width: 1200px) {
      height: 50px;
      justify-content: space-between;
      padding: 0 40px;
      align-items: center;
      margin-top: 37px;
    }
  }
}
.header-btn-menu {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.header-m-btn {
  background: transparent;
  outline: none;
  border: none;
  .header-menu-button {
    width: 25px;
    height: 25px;
    margin-left: auto;
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
  margin-left: auto;
  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.header-navigation {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #E17992;
  min-height: 502px;
  width: 100%;
  padding: 23px 0px;
  transform: translateY(-100%);
  transition: all 250ms linear;
  .header-btn-menu {
    margin: 0 auto;
    margin-top: 23px;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
  &.is-open {
    transform: translateY(0);
  }
  @media screen and (min-width: 768px) {
    width: 260px;
    min-height: 400px;
    right: 0;
    left: auto;
  }
  @media screen and (min-width: 1200px) {
    position: relative;
    background-color: transparent;
    transform: translateY(0);
    width: auto;
    padding: 0;
    min-height: 100%;
  }
}
.header-nav-item {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 32px;
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-top: 18px;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    margin: 0;
    height: 50px;
    align-items: center;
  }
  li {
    width: 100%;
    padding-left: 21px;
    padding-top: 13px;
    padding-bottom: 11px;
    border-top: 1px solid #E18298;
    border-bottom: 1px solid #E18298;
    transition: 250ms linear;
    &:hover,
    &:focus {
      cursor: pointer;
    }
    a {
      color: inherit;
      transition: 250ms linear;
    }
    &:hover a,
    &:focus a {
      color: #D41443;
      outline: none;
      border: none;
    }
    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: 21px;
      border: none;
      padding: 0;
      width: auto;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}







button {
  background: transparent;
  outline: none;
  border: none; 
}
.header-close-button {
  width: 14px;
  height: 14px;
  margin-left: auto;
  margin-right: 28px;
  use {
    &:hover,
    &:focus {
      fill: #D41443 ;
    }
  @media screen and (min-width: 768px) {
    margin-right: 34px;
  }
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }

}
.header-close-button-wrapper {
  margin-left: auto;
  cursor: pointer;
}
.tab-desc-btn {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    width: 160px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}