.reviews-container {
  margin-top: 121px;
  margin-bottom: 170px;

  @media screen and (min-width: 768px) {
    margin-bottom: 197px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 234px;
  }
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews-picture {
  display: block;
  width: 85px;
  margin-bottom: 15px;
}

.review-text-block {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 43px 66px 26px 57px;
  background-color: #fafafa;
  margin-bottom: 30px;
}

.review-text-block::after {
  content: '';
  position: absolute;
  top: 28px;
  left: 61px;
  width: 54px;
  height: 40px;
  background-image: url(../images/reviews/quotes.png);
  background-repeat: no-repeat;
  color: #e1e1e1;
}

.review-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  letter-spacing: 0.04em;

  color: $primary-text-color;
}

.review-text-wrapper {
  position: relative;
  background-color: #fafafa;
  // max-width: 280px;

  background: repeating-linear-gradient(to bottom,
      transparent,
      transparent 26px,
      #e1e1e1 1px,
      #e1e1e1 27px);
  z-index: 999;
  width: 180px;
}

.review-person {
  margin-bottom: 30px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.857;

  text-align: center;

  color: $primary-text-color;
}

.review-person::before {
  content: '';
  margin: 0 auto 18px;
  display: block;
  width: 32px;
  height: 4px;
  background-image: url(../images/reviews/points.svg);

  justify-content: center;
  align-items: center;
}

.reviews-icon {
  width: 12.4px;
  height: 11.84px;
}

@media screen and (min-width: 768px) {
  .reviews-picture {
    margin-bottom: 19px;
  }

  .review-text-block {
    width: 100%;
    padding: 30px 36px 28px 40px;
    margin-bottom: 24px;
  }

  .review-text-wrapper {
    width: 560px;
  }

  .review-text-block::after {
    top: 14px;
    left: 46px;
  }

  .review-text {
    font-size: 14px;
    line-height: 2.16;
  }

  .review-person {
    font-size: 16px;
    line-height: 1.86;
  }
}

@media screen and (min-width: 1200px) {
  .reviews-picture {
    margin-bottom: 29px;
  }

  .review-text-block {
    width: 100%;
    padding: 32px 54px 32px 50px;
    margin-bottom: 15px;
  }

  .review-text-wrapper {
    max-width: 926px;
    width: 750px;
  }

  .review-text-block::after {
    top: 15px;
    left: 165px;
  }

  .review-text {
    font-size: 16px;
    line-height: 1.875;
  }

  .review-person {
    font-size: 20px;
    line-height: 1.86;
  }
}