.reviews {
  padding-top: 154px;

  @media screen and (min-width: 768px) {
    padding-top: 279px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 385px;
  }
}

.slider-area {
  margin-bottom: 170px;

  @media screen and (min-width: 768px) {
    margin-bottom: 197px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 234px;
  }
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.reviews-picture {
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    margin-bottom: 19px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 29px;
  }
}

.review-text-block {
  position: relative;

  display: flex;
  justify-content: center;
  width: 100%;
  padding: 43px 66px 26px 57px;
  background-color: #fafafa;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    padding: 30px 36px 28px 40px;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1200px) {
    padding: 32px 54px 32px 50px;
    margin-bottom: 15px;
  }
}

.review-text-block::after {
  content: '';
  position: absolute;
  top: 28px;
  left: 50px;
  width: 54px;
  height: 40px;
  background-image: url(../images/reviews/quotes.png);
  background-repeat: no-repeat;
  color: #e1e1e1;

  @media screen and (min-width: 768px) {
    top: 14px;
    left: 46px;
  }

  @media screen and (min-width: 1200px) {
    top: 15px;
    left: 124px;
  }
}

.review-text {
  width: 100%;
  line-height: 2.55;

  @media screen and (min-width: 768px) {
    width: 460px;
    font-size: 14px;
    line-height: 2.16;
  }

  @media screen and (min-width: 1200px) {
    width: 750px;
    font-size: 16px;
    line-height: 1.875;
  }
}

.review-text-wrapper {
  position: relative;

  background: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 26px,
    #e1e1e1 1px,
    #e1e1e1 27px
  );
  z-index: 999;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    background: repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 29px,
      #e1e1e1 1px,
      #e1e1e1 30px
    );
  }
}

.review-customer {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.857;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.86;
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.86;
  }
}

.review-customer::before {
  content: '';
  margin: 0 auto 18px;
  display: block;
  width: 32px;
  height: 4px;
  background-image: url(../images/reviews/points.svg);
}

.reviews-icon {
  width: 12.4px;
  height: 11.84px;
}
